/*
███████████████████████████
█───██────██─██─██───██───█
█─████─██─██──█─███─███─███
█───██─██─██─█──███─███───█
█─████─██─██─██─███─█████─█
█─████────██─██─███─███───█
███████████████████████████
*/
@font-face {
	font-family: 'roboto-light-webfont';
	src: url('../fonts/roboto-light-webfont.eot');
	src: url('../fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/roboto-light-webfont.woff') format('woff'),
	url('../fonts/roboto-light-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'roboto-bold-webfont';
	src: url('../fonts/roboto-bold-webfont.eot');
	src: url('../fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/roboto-bold-webfont.woff') format('woff'),
	url('../fonts/roboto-bold-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'roboto-regular-webfont';
	src: url('../fonts/roboto-regular-webfont.eot');
	src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/roboto-regular-webfont.woff') format('woff'),
	url('../fonts/roboto-regular-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'roboto-thin-webfont';
	src: url('../fonts/roboto-thin-webfont.eot');
	src: url('../fonts/roboto-thin-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/roboto-thin-webfont.woff') format('woff'),
	url('../fonts/roboto-thin-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'roboto-medium-webfont';
	src: url(../'fonts/roboto-medium-webfont.eot');
	src: url(../'fonts/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/roboto-medium-webfont.woff') format('woff'),
	url('../fonts/roboto-medium-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
/*
█████████████████████████████████████████████
█────██───██───██───██───█████────██───██───█
█─██─██─████─████─█████─██████─██─██─████─███
█────██───██───██───███─██████─█████───██───█
█─█─███─██████─██─█████─██████─██─████─████─█
█─█─███───██───██───███─███─██────██───██───█
█████████████████████████████████████████████
*/
*{
	box-sizing: border-box;
	font-family: roboto-light-webfont;
	text-decoration: none;
}
body {
	padding: 0px;
	margin: 0px;
	background: #e1e3e6;
}
aside,
footer{
	margin-top: 5px;
}
article,
aside,
footer{
	position: relative;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	width:980px;
}
.clearfix::after{
	content:"";
	display: block;
	clear:both;
}
/*
███████████████████████████████████
█─██─██───██────██────███───██────█
█─██─██─████─██─██─██──██─████─██─█
█────██───██────██─██──██───██────█
█─██─██─████─██─██─██──██─████─█─██
█─██─██───██─██─██────███───██─█─██
███████████████████████████████████
*/
.b-header {
	display: block;
	background: linear-gradient(to right,#00ad66, #0039a6);
	color:rgba(255,255,255,0.8);
	padding-bottom: 25px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}
/*
██████████████████████████████████████████████████
█─██─██───██────██────██████─████────██────██────█
█─██─██─████─██─██─██──█████─████─██─██─█████─██─█
█────██───██────██─██──█████─████─██─██─█──██─██─█
█─██─██─████─██─██─██──█████─████─██─██─██─██─██─█
█─██─██───██─██─██────███─██───██────██────██────█
██████████████████████████████████████████████████
*/
.b-header__logo {
	display: block;
	width: 300px;
	float: left;
	margin-left: 40px;
	margin-top:25px;
	margin-right: 10px;
	align-items: center;
	transition-duration: 400ms;
	-webkit-transition-duration: 400ms;
}
.b-header__logo:hover{
	text-shadow: 0px 0px 10px white;
}
.b-header__logo-text{
	display: block;
	text-transform: uppercase;
	margin-left: 133px;
	font-size: 15px;
	color: rgba(255,255,255,1);
	font-family: roboto-bold-webfont;
	letter-spacing: 0.7px;
	line-height: 20px;
}
.b-header__logo-img {
	float: left;
	margin-left:-10px;
}
/*
██████████████████████████████████████████████
█─██─██───██────██────██████────███────██────█
█─██─██─████─██─██─██──█████─██──██─██─██─██─█
█────██───██────██─██──█████────███────██────█
█─██─██─████─██─██─██──█████─██──██─██─██─█─██
█─██─██───██─██─██────███─██────███─██─██─█─██
██████████████████████████████████████████████
*/
.b-header__tel-strong {
	font-family: roboto-bold-webfont;
}
.b-header__bar {
	padding-top: 15px;
	display: block;
	float: right;
	width:auto;
	margin-left: auto;
	margin-right: auto;
	min-width: 657px;
}
.b-header__tel{
	color:rgba(255,255,255,0.9);
	font-family: roboto-light-webfont;
	border-radius: 5px;
	border: 0px solid white;
	transition-duration: 400ms;
	-webkit-transition-duration: 400ms;
}
.b-header__tel--position1{
	align-self: center;
	margin-left: -10px;
	margin-top: 7px;
	margin-bottom: 9px;
	padding: 3px;
	float: left;
}
.b-header__tel:hover {
	text-shadow: 0px 0px 10px white;
}
.b-header__bar-search{
	display: block;
	float: right;
	width:193px;
	padding: 10px 0px;
	padding-left: 28px;
	margin-left: 0px;
	align-items: center;
	background: url(../img/search.png);
	background-repeat: no-repeat;
	background-position: left;
	color:rgba(255,255,255,0.8);
	border-top: 1px solid rgba(255,255,255,0.2);
	letter-spacing: -0.4px;
	transition-duration: 400ms;
	-webkit-transition-duration: 400ms;
}
.b-header__bar-search:hover{
	text-shadow: 0px 0px 10px white;
}
.b-header__bar-login{
	float: right;
	padding-top: 12px;
	padding-bottom: 7px;
	text-transform: uppercase;
	font-size: 13px;
	padding-left: 28px;
	background: url(../img/login.png);
	background-repeat: no-repeat;
	background-position: left;
	color:#82ebc0;
	font-family: roboto-light-webfont;
	width: 193px;
	letter-spacing: 0.4px;
	transition-duration: 400ms;
	-webkit-transition-duration: 400ms;
}
.b-header__bar-login:hover{
	text-shadow: 0px 0px 10px white;
}
/*
██████████████████████████████████████████████████████████████████
█─██─██───██────██────██████────███────██────█████─██─██────██─█─█
█─██─██─████─██─██─██──█████─██──██─██─██─██─█████──█─██─██─██─█─█
█────██───██────██─██──█████────███────██────█████─█──██────██─█─█
█─██─██─████─██─██─██──█████─██──██─██─██─█─██████─██─██─██─██───█
█─██─██───██─██─██────███─██────███─██─██─█─███─██─██─██─██─███─██
██████████████████████████████████████████████████████████████████
*/
.b-header__nav_ul{
	display: block;
	justify-content: space-between;
	align-items: stretch;
	margin: 0px;
	padding: 0px;
}
.b-header__nav {
	display: block;
	justify-content: space-around;
	clear: both;
	float: left;
	border-top: 1px solid rgba(255,255,255,0.2);
	padding-right: 19px;
}
.b-header__nav-item {
	color:rgba(255,255,255,0.9);
	font-family: roboto-light-webfont;
	display:inline-block;
	float:left;
	list-style-type: none;
	transition-duration: 400ms;
	-webkit-transition-duration: 400ms;
}
.b-header__nav-item:hover {
	background-color: rgba(255,255,255,0.4);
}
.b-header__nav-item {
	float: left;
	width:auto;
	padding: 10px 0px;
	padding-right: 32.7px;
	list-style-type: none;
	font-size: 15px;
	letter-spacing: 0.45px;
}
.b-header__nav-item--active{
	border-top: 3px solid rgba(255,255,255,0.2);
	padding-top: 7px; 
}
/*
████████████████████████████████
█────█────█───█───█────█─███───█
█─██─█─██─██─███─██─██─█─███─███
█────█────██─███─██─████─███───█
█─██─█─█─███─███─██─██─█─███─███
█─██─█─█─███─██───█────█───█───█
████████████████████████████████
*/
.article{
	border-top: 6px solid #164aac;
	box-shadow: 0px 0px 100px rgba(0,0,0,0.8);
}
/*
█████████████████████████████████████████████████████████████████
█────███────██───██────██────███────██────██─█─██─███─█────██───█
█─██──██─██─██─████─██─██─██──██─██─██─██─██─█─██──█──█─██─██─███
█────███────██───██────██─██──██─█████────██─█─██─█─█─█────██───█
█─██──██─█─███─████─██─██─██──██─██─██─█─███─█─██─███─█─███████─█
█────███─█─███───██─██─██────███────██─█─███───██─███─█─█████───█
█████████████████████████████████████████████████████████████████
*/
.b-breadcrumb {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width:980px;
	background: #e1e3e6;
	padding-top: 13px;
	padding-bottom: 5px;
	padding-left: 0px;
}
.b-breadcrumb-rel{
	color:#aaa;
	font-family: roboto-light-webfont;
	list-style: none;
	display: inline;
	font-size: 13px;
	letter-spacing: 0.5px;
	margin:0px 0px;
}

.b-breadcrumb-rel:not(.b-breadcrumb-rel--active)::after{
	content:"/";
	margin: 0px 10px;
}
/*
███████████████████████
█─██─██───██─███─██───█
█──█─██─████─███─██─███
█─█──██───██─█─█─██───█
█─██─██─████─────████─█
█─██─██───███─█─███───█
███████████████████████
*/
.b-news{
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}
.b-news__item{
	float: left;
	width: 285px;
	margin: 0px 11px;
	padding-right: 70px;
	font-size: 15px;
	letter-spacing: 0.015px;
	line-height: 26px;
}
.b-news__b-header {
	display:block;
	clear: both;
	margin-left: 37px;
	padding-top: 30px;
	padding-bottom: 24px;
	font-family: roboto-thin-webfont;
	font-size: 35px;
	letter-spacing: 0.033px;
}
.b-news__first_news_item {
	margin-left: 40px;
}
.b-news__img {
	display: block;
	clear: both;
	width:285px;
	margin-bottom: 17px;
}
.b-news__date {
	display: block;
	clear:both;
	font-family: roboto-medium-webfont;
	width: 72px;
	background-color:#02af68;
	border-radius: 3px;
	margin-top: 13px;
	margin-bottom: 41px;
	font-size: 11px;
	color:white;
	padding: 4px 4px;
}
/*
██████████████████████
█───██─██─██───██────█
██─███──█─██─████─██─█
██─███─█──██───██─██─█
██─███─██─██─████─██─█
█───██─██─██─████────█
██████████████████████
*/
.b-info{
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}
.b-info__img {
	display: block;
	clear: both;
	position:absolute;
	margin-top: 10px;
}
.b-info__block{
	display:block;
	float: left;
	width:25%;
	padding:23px 24px;
	height: 245px;
	line-height: 26px;
	font-size: 15px;
	letter-spacing: 0.015px;
	font-family: roboto-light-webfont;
}
.b-info__block--white {
	background-color: white;
	color:black ;
}
.b-info__block--blue {
	background-color: #0c44aa;
	color:white;
}
.b-info__block--red {
	background-color: #d52b1e;
	color:white;
}
.b-info__block--green {
	background-color:#02af68;
	color:white;
}
.b-info__block a{
	margin-top:74px;
	display:block;
	color:white;
}
.b-info__block--white a{
	color:black;
}
/*
█████████████████████████████████
█───██────██────██───██───██────█
█─████─██─██─██─███─███─████─██─█
█───██─██─██─██─███─███───██────█
█─████─██─██─██─███─███─████─█─██
█─████────██────███─███───██─█─██
█████████████████████████████████
*/
.b-footer{
	background-color: #444444;
	color: rgba(255,255,255,0.8);
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}
.b-footer__reg{
	float: left;
	margin: 31px 42px;
	height: 50px;
	align-items: center;
	background-color: #02af68;
	border-radius: 50px;
	padding: 18px 19px;
	color:white;
	font-size: 13px;
	text-transform: uppercase;
	font-family: roboto-medium-webfont;
}
.b-footer__sponsor{
	float: right;
	margin:31px 34px;
	height: 50px;
}

/*
██████████████████████████████████████████
█───██────██────██───█████─██─██────██─█─█
█─████─██─██─██─███─██████──█─██─██─██─█─█
█───██─██─██─██─███─██████─█──██────██─█─█
█─████─██─██─██─███─██████─██─██─██─██───█
█─████────██────███─███─██─██─██─██─███─██
██████████████████████████████████████████
*/
.footer-nav_ul{
	display: block;
	justify-content: space-between;
	align-items: stretch;
	margin: 0px;
	padding: 0px;
}
.b-footer__nav-item{
	color: rgba(255,255,255,0.8);
	list-style-type: none;
	width:16.666%;
	float: left;
	text-align: center;
	padding: 23px 0px;
	font-size: 13px;
	font-family: roboto-regular-webfont;
	border-bottom: 1px solid rgba(255,255,255,0.1);
	border-left: 1px solid rgba(255,255,255,0.1);
	transition-duration: 400ms;
	-webkit-transition-duration: 400ms;
}
.b-footer__nav-item:hover{
	background-color: rgba(255,255,255,0.4);
}
.b-footer__nav-item-first{
	border-left: 0px solid rgba(255,255,255,0.1);
}
.b-footer__nav {
	display: block;
	clear: both;
}
/*
█████████████████████████████████████████████████████
█────██────██────██──█──██────██───██────██─██─██───█
█─██─██─██─██─██─███───███─██─███─███─█████─██─███─██
█─█████─██─██────████─████────███─███─█──██────███─██
█─██─██─██─██─███████─████─█─████─███─██─██─██─███─██
█────██────██─███████─████─█─███───██────██─██─███─██
█████████████████████████████████████████████████████
*/
.b-footer__copyright{
	border-top:1px solid rgba(255,255,255,0.1);
	clear:both;
}
.b-footer__copyright-text{
	display: block;
	float: left;
	width:300px;
	margin: 27px 39px;
	color:#797576;
	font-size: 11px;
	text-transform: uppercase;
	font-family: roboto-medium-webfont;
}
.b-footer__osoft{
	color:rgba(255,255,255,0.2);
	align-items: baseline;
	font-size: 12px;
	font-family: roboto-regular-webfont;
	float: right;
	padding: 26px 40px;
}
.b-footer__osoft-logo{
	width: auto;
	margin-left: 7px;
}